

<%- include("partials/header"); -%>


    <div class="img">
    <div class="container1">
      <h1 class="theTitle" id="title">SAHC</h1>
      <p class="sub-text">-the organisation focused on making south african health care better</p>
    </div>
    </div>
    <hr>
    <div class="container2">
      <figure class="text-center">
        <blockquote class="blockquote">
          <p>A well-known quote, contained in a blockquote element.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </figcaption>
      </figure>
    </div>
    <hr>
    <hr>
    <hr>
    <br>
    <br>
    <br>
    <br>


<div class="container3">
  <div class="card-group">
  <div class="card text-center bg-dark text-white" id="card1">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Flag_of_South_Africa_%281928%E2%80%931994%29.svg/255px-Flag_of_South_Africa_%281928%E2%80%931994%29.svg.png" class="card-img-top" style="height: 328px;" alt="Flag">
    <div class="card-body">
      <h5 class="card-title">Apartheids impact</h5>
      <p class="card-text">Apatheid was a period in the 90 where the South Africa was largely split into categories depending on your race. There are still many marks from that periode</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="/cause" class="btn btn-warning">Learn more</a>
    </div>
  </div>
  <div class="card text-center bg-dark text-white">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXSV-IGB3j_qiUMVSW-Z7pwqWmbb_VewMvzl7nnWjFPLOMHB_3y6Nlwdstox7S0kpK6CY&usqp=CAU" class="card-img-top" alt="Flag">
    <div class="card-body">
      <h5 class="card-title">Current state?</h5>
      <p class="card-text">The current state of the health care system in South Africa is largely divided into a public and private section. And those two sections vary in quality a lot</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="/currentState" class="btn btn-warning">Learn more</a>
    </div>
  </div>
  <div class="card text-center bg-dark text-white" id="card3">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT24lEJFM0bOVGDrN5VrN0Yn0X-Iac7SyFddQ&usqp=CAU" class="card-img-top" style="height: 328px;" alt="Flag">
    <div class="card-body">
      <h5 class="card-title">What can be done?</h5>
      <p class="card-text">There is a variety of stuff that can be done to help the South African health care system. Everything from donating, spreading awareness and campaigning</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="/action" class="btn btn-warning">Learn more</a>
    </div>
  </div>
</div>
</div>
<br>
<br>


    <div class="container4">
      <h2 class="thick"><mark>Spørgsmål der ofte bliver stillet</mark></h2>
      <br>
    </div>


  <div class="col-sm-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Hvem er vi?</h5>
        <p class="card-text">Vi er en organisation ved navn SAHC, en forkortelse for South African health care.</p>
        <p class="card-text">Som navnet hentyder til arbejder vi med at forbedre sunheden af Sydafrikas befolkning</p>
        <p class="card-text">Det inkluderer donationer til forskellige områder indenfor sundhed i landet</p>

      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Hvad er vores formål?</h5>
        <p class="card-text">Vi er en organisation ved navn SAHC, en forkortelse for South African health care.</p>
        <p class="card-text">Som navnet hentyder til arbejder vi med at forbedre sunheden af Sydafrikas befolkning</p>
        <p class="card-text">Det inkluderer donationer til forskellige områder indenfor sundhed i landet</p>

      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Hvad kan du gøre?</h5>
        <p class="card-text">Vi er en organisation ved navn SAHC, en forkortelse for South African health care.</p>
        <p class="card-text">Som navnet hentyder til arbejder vi med at forbedre sunheden af Sydafrikas befolkning</p>
        <p class="card-text">Det inkluderer donationer til forskellige områder indenfor sundhed i landet</p>

      </div>
    </div>
  </div>
<hr>
<hr>
<br>
<br>
  <div class="col-sm-12">
    <div class="card text-center bg-dark text-white">
      <div class="card-body" style="margin-bottom: 30px;">
        <br>
        <br>
        <br>
        <h2 class="donationTitle">Støt os og gør en forskel</h2>
        <br>
        <a href="#" class="btn btn-danger btn-lg">Doner</a>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>


<%- include("partials/footer"); -%>
